<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write a Blog</title>
</head>

<body>
    <h1>Write a Blog Post!</h1>
    <form action="/blogs" method="POST">
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" />

        <label for="author">Author</label>
        <input type="author" name="author" id="author" />

        <label for="post">Post</label>
        <input type="post" name="post" id="post" />

        <button type="submit">submit your post</button>
    </form>
    <a href="/blogs/">Back to Blogs</a>

</body>

</html>